body {
  padding: 0; margin: 0;
  background-color: #2F2E41;;
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;;
  font-size: 14px;
}

.content {
  width: 1092px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: 71px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 64px;
}

nav ul a{
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-family: 'JetBrains Mono', monospace;
}

nav ul a:hover {
  color: #898787;
}

span {
  color: #00BFA6;
  font-weight: bold;
}

main {
  margin-top: 109px;
  display: flex;
  align-items: center;
  gap: 82px;

  text-align: center;
  font-size: 16px;
  line-height: 28px;
}

main h1 {
  font-family: 'JetBrains Mono', monospace;
  color: #FFF;
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}

footer {
  margin-top: 200px;
}

.line {
  width: 560px;
  border: 1px solid #00BFA6;
  margin: 0 auto;
}

footer p {
  margin-top: 27px;
  color: #FFF;
  font-family: "JetBrains Mono";
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer a:hover {
  color: #898787;
}


#locker {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
}